# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea

# Build
vendor
build
tools/
tools/bin/*
examples/build/*
docs/_build
docs/tutorial

# Testing
coverage.txt
profile.out
profile.cov
profile_tmp.cov
coverage.html
unittest

# Vagrant
.vagrant/
*.box
*.log
*.json
vagrant

# IDE
.idea/
*.iml
*.yaml

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz
contract_tests/*
dev/cache/*
result.txt
.idea/
contract.wasm
cosmwasm-simulate
target/
schema/